<ul>
    <li class='is_one do_rename'>
        <a href='javascript://' class='rename'>Rename</a>
    </li>
    <li class='do_delete'>
        <a href='javascript://' class='delete'>Delete</a>
    </li>
    <li class='is_one is_file do_download'>
        <a class='download' href='javascript://'>Download</a>
    </li>
    <li class='is_one is_folder do_new_file'>
        <a class='new_file' href='javascript://'>New File</a>
    </li>
    <li class='is_one is_folder do_new_folder'>
        <a class='new_folder' href='javascript://'>New Folder</a>
    </li>
    <li class='is_one is_folder do_upload'>
        <a class='upload' id='myupload' href='javascript://'>Upload Files</a>
    </li>
</ul>
