<form id='rename'>
	<input id='RENAME_FORM_NEW_NAME' name='new_name' type='input'  value="<%= name %>" autocomplete="off" />
	<input id='RENAME_FORM_PATH' 	 name='path' 	 type='hidden' value="<%= element.id %>" />
</form>
	