<a href='#' class='rename' folder='<%= params.element.id %>'>Rename</a>
<a href='#' class='delete' folder='<%= params.element.id %>'>Delete</a>
<a class='download' href='/ftp/download/<%= params.element.id%>'>Download</a>
